.primary-nav {
	padding-top: 10px;

	@mixin atSmall {
		padding-top: 0px;
	}

	&--pull-right {
		@mixin atSmall {
			float:right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: inline-block;
		padding-right: 20px;
		@mixin atSmall {
			float:left;
			display: block;
		}
	}

	li:last-child {
		padding-right: 0;
		@mixin atSmall {
			padding-right: 20px;
		}
	}

	a {
		color: white;
		text-decoration: none;
		font-weight: 300;
		padding: 5px 8px;
		font-size: .8rem;
		display:block;
		background-color: rgba(47, 58, 114, .5);

		@mixin atSmall {
			padding: 12px 0;
			font-size: 1rem;
			background-color: transparent;
		}
	}
}